<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-4">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://deih43ym53wif.cloudfront.net/idly-food-india-shutterstock_101041240_7bd8a6703f.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Idly</h5>
                          <p class="card-text">Rs.50</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://d4t7t8y8xqo0t.cloudfront.net/admin/eazymedia/trends/3091/16164196070.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Masala dosa</h5>
                          <p class="card-text">Rs.80</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://c.ndtvimg.com/2021-11/i6ilk74g_lauki-dosa_625x300_24_November_21.jpg?im=FaceCrop,algorithm=dnn,width=1200,height=886" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ghee Roast</h5>
                          <p class="card-text">Rs.100</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://deih43ym53wif.cloudfront.net/vada-south-indian-food-shutterstock_1073156264_6a1987aa83.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Vada</h5>
                          <p class="card-text">Rs.20</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img  height="200px" src="https://www.chefspencil.com/wp-content/uploads/Puttu.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Puttu</h5>
                          <p class="card-text">Rs.40</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzXndNmEg_e04wrSNDK32oz9pevIMJBbeOAd-34JLIbztUyDiJe9nLdUeNvURgtPvG9t8&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Rice</h5>
                          <p class="card-text">Rs.50</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="http://www.hellolo.ca/wp-content/uploads/2021/02/best-indian-food-in-london-ontario.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Porotta & Beef</h5>
                          <p class="card-text">Rs.120</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl 3">
                    <div class="card" style="width: 18rem;">
                        <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBfhq2-d8h48YlluKs91QKdKFcaM5E3-qdyw&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Idiyappam & Curry</h5>
                          <p class="card-text">Rs.80</p>
                          <a href="#" class="btn btn-primary">Order Now</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
